@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    margin: 0;
    background-color: black;
}

* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.App {
    text-align: center;
}

.navBar {
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0.5rem 1rem;
    gap: 2rem;
}

.navBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.navBar a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem
}

.navBar li.active {
    background-color: rgba(255, 255, 255, 0.12);
}